body {
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.container {
  text-align: center;
  padding: 20px;
  /* color: #fff; */
  background: url("") no-repeat center center/cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.btn {
  background: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.btn.new {
  background: #4689f4;
}
.btn.in-progress {
  background: #f4c542;
}
.btn.completed {
  background: #42f450;
}
.btn.clear-all {
  background: #30d1d5;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0d1b2a;
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00a4ef;
}

.sign-out {
  background-color: transparent;
  border: 2px solid #00a4ef;
  color: #00a4ef;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-out:hover {
  background-color: #00a4ef;
  color: #ffffff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0d1b2a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1f4287;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #00a4ef;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
